@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proxima.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proxima.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proxima.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proxima.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.light-blue-font{
    color: #8efcff;
}
.blue-font{
    color: #13a5fe;
}

.purple-font{
    color: #552790;
}
.header{
    position: relative;
    background: #000000;
    background-size: cover;
    color: #ffffff;
    font-family: 'Proxima', Arial, sans-serif;
}
.header li{
    list-style-type: none;
}
@media (min-width: 768px) {
    .header li{
        display: inline-block;
    }
}

.header__wrap{
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
}
.header__logo{

}
.header__logo_size_m{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-family: 'Montserrat',Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
.header__logo_size_s{
    margin-top: 0;
    font-size: 14px;
}
.header__nav{

 }

.header__nav-list{
    margin-top: 0;
    padding-left: 0;
    float: right;
}
.header__nav-item{
    padding-right: 40px;
}

.header__nav-item a{
    text-decoration: none;
}

.title{
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}
.section-events {
    margin-left: 100px;
    margin-top: 59px;
    font-size: 18px;
    font-style: normal;
    font-family: 'Proxima', Arial, sans-serif;
    line-height: 1.5;
}
@media(max-width: 767px) {
    .section-events{
        margin-left: 24px;
        font-size: 14px;
    }
}

.section-events__title{
    display: flex;
    justify-content: space-between;
}
.section-events__title-txt{
    width: 36%;
    font-size: 20px;
}

@media(max-width: 767px) {
    .section-events__title-txt{
        width: 100%;
    }
}

.section-events__title-txt p{
    margin-top: 40px;
}
.section-events__title-img img{
    display: block;
    margin-right: 127px;
    margin-top: -15px;
    width: 500px;
}

@media (max-width: 767px) {
    .section-events__title-img img{
        display: none;
    }
}
.section-events__subtitle{
    margin-top: 30px;
    font-size: 20px;
}

.section-events__subtitle-list{
    line-height: 1.7;
    padding-left: 0;
    list-style-type: none;
}

.section-events__subtitle-list li::before{
    content: '';
    position: absolute;
    width:7px;
    height: 7px;
    background: #ffffff;
    border-radius: 50%;
    margin-left: -17px;
    margin-top: 11px;
}
.section-events__square{
    position: absolute;
    width:13px;
    height: 13px;
    background: #552790;
    margin-left: -20px;
    margin-top: 8px;
}
.section-events__subtitle-list{
    display: inline-block;
    padding-left: 20px;
    padding-right: 80px;
}
@media (max-width: 767px) {
    .section-events__subtitle-list{
    }
}

.banner__list {
    padding-left: 0;
}
.banner__list li{
    position: relative;
    padding-left: 30px;
}
.banner__item-left::before{
    content: url("img/banner/date.svg");
    position: absolute;
}
.banner__item-right::before{
    content: url("/elm/app/img/banner/loc.svg");
    position: absolute;
}
.banner__h1{
    width: 800px;
}