
@font-face {
  font-family: 'Graphik LC';
  src: url('/fonts/Graphik-Regular-Desktop.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
  @font-face {
    font-family: 'Graphik LC';
    src: url('/fonts/Graphik-Regular-Desktop.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }
    @font-face {
      font-family: 'Graphik LC';
      src: url('/fonts/Graphik-Regular-Desktop.woff') format('woff');
      font-weight: 100;
      font-style: normal;
    }
body{
  margin: 0;
  font-family: "Graphik LC", Arial sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.container{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.visually-hidden{
  display: none;
}
.container-box{
  width: 1290px;
  margin-left: -20px;
}
.error-font{
  color: #f44336;
}
.title__block{
  font-family: 'Montserrat',Arial, sans-serif;
  font-size: 45px;
}
.solution-font{
  color: #048ad3;
}

.content-boxs{
  width: 100%;
  max-width: 1093px;
  margin: 0 auto;
}
.btn-bpm{
  border: 1px #ffffff solid;
  border-radius: 4px;
  padding: 15px 24px;
  text-decoration: none;
  color: #fff;
}
.pick-font{
  padding: 5px 20px;
  color: #000000;
  background-color: #FFBD2B;
}
.banner-bpm {
  margin-top: -55px;
  transform: skewY(-3.66deg);
  padding-top: 51px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #552790;
  color: #ffffff;

  //transform: skewY(-2.64deg);
  //margin-top: -40px;
  &__wrap {
    transform: skewY(3.66deg);
    //transform: skewY(2.64deg);
      padding: 45px 0 100px 210px;
    a{
      position: relative;
      padding-left: 40px;
    }
    a::before{
      position: absolute;
      content: url("/img/banner/arrow.svg");
      left: 14px;
    }
  }
  &__title {
    font-family: Montserrat, Arial, sans-serif;
    padding-top: 40px;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    width: 650px;
  }
  &__title-part{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 54px;
    font-weight: 700;
  }
  &__subtitle {
    padding: 20px 0 30px 0;
    width: 620px;
  }
  &__img{
    transform: skewY(3.66deg);
    position: absolute;
    right: 0;
    img{
      margin-top: 29px;
    }
  }

}
.exlips{
  transform: translateY(-317px);
}
.cosmonaut{

}
.problem-bpm {
  padding-top: 80px;
  &__title {
    padding-top: 50px;
  }
  &__suptitle{
    width: 795px;
  }
  &__subtitle{
    display: flex;
  }
  &__subtitle-error{

    font-family: Montserrat, Arial,sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #F44336;
  }
  &__subtitle-solution{

    font-family: Montserrat, Arial,sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1476CA;
  }
}

.error-circle{
  position: relative;
  background-color: #f44336;
}
.solution-circle{
  position: relative;
  background-color: #048ad3;
}
/*
.error-circle::after, .error-circle::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  top: 17px;
  left: 9px;
}*/
.error-circle::after{
  left: 15px;
  top: 14px;
  position: absolute;
  content: url("/img/problem/err.png");
}
/*
.solution-circle::after, .solution-circle::before{
  content: '';
  position: absolute;
  background-color: #ffffff;
  top: 20px;
}*/
.solution-circle::after{
  left: 13px;
  top: 16px;
  position: absolute;
  content: url("/img/problem/sol.png");
}

.problem-bpm{
  &__circle{
    position: absolute;
    border: 2px #000 solid;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    top: 20px;
    left: 383px;
    align-items: center;
  }
  &__list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
  }
  &__item{
    margin-bottom: 30px;
  }
  &__item-title{
    width: 390px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #0C0A0D;
  }
  &__item-left{
    position: relative;
    background-color: #feeceb;
    padding: 10px 10px 10px 30px;
    transform: matrix(1, 0.05, -0.06, 1, 0, 0);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
  }
  &__item-right{
    position: relative;
    background-color: #e9f1f8;
    padding: 10px 10px 10px 30px;
    transform: matrix(1, 0.05, -0.06, 1, 0, 0);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

  }
  &__item-wrap{
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
    transform: rotate(-2.64deg);
  }
  &__subtitle-solution{
    margin-left: 20px;
  }
  &__subtitle{
    padding: 30px 0 20px 0;
    display: flex;
    p{
      width: 50%;
      padding-left: 50px;
    }
  }
}
@media (min-width: 768px) {
  .problem-bpm{
    &__wrap{
      width: 1093px;

    }
    &__item{
      display: flex;
      justify-content: space-between;
    }
    &__item-left{
      width: 50%;
      margin-right: 50px;
    }
    &__item-right{
      width: 50%;
    }
  }
}
.bpm-up{
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 46px 30px 30px 115px;
  background-color: #552790;
  color: #ffffff;
  &__wrap{
    display: flex;
  }
  &__text{
    position: relative;
    width: 60%;
    a{
      padding-left: 50px;
    }
    a::before{
      position: absolute;
      content: url("/img/up/play.svg");
      left: 14px;
    }
  }
  &__wrap-top{
    position: relative;
    transform: rotate(-2.07deg);
  }
  &__wrap-bottom{
    transform: rotate(2.07deg);
  }
  &__img{
    width: 40%;}
  &__top-img{
    margin-top: -70px;
  }

  &__bottom_block{
    margin-top: -28px;
    padding-top: 70px;
    transform: rotate(-2.64deg);
  }
  &__top_block{
    height: 385px;
    margin-bottom: -30px;
    transform: rotate(2.07deg);
  }
}
.bpm-content{
  width: 100%;
  max-width: 1397px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 30px 0;
  &__wrap{
    display: flex;
    padding-top: 50px;
  }
  &__wrap-text{
    width: 48%;
  }
  &__item{
    position: relative;
    padding: 0 30px;
    list-style-type: none;
  }
  &__item_title{
    margin-top: -25px;
  }
  &__item_title_blue{
    margin-top: -30px;
    font-size: 24px;
    font-family: Montserrat, Arial, sans-serif;
    color: #048ad3;
    text-transform: uppercase;
    padding: 10px;
  }
  &__square1, &__square2, &__square3{
    left: 265px;
    top: -41px;
    position: absolute;
    width: 62.73px;
    height: 62.73px;
    background: #D3E4F2;
    transform: rotate(12.79deg);
  }
  &__square1::after{
    position: absolute;
    content: url("/img/content/square1.svg");
    transform: rotate(-12.79deg);
    margin-left: 28px;
    top: -11px;
  }
  &__square2::after{
    position: absolute;
    content: url("/img/content/square2.svg");
    transform: rotate(-12.79deg);
    margin-left: 21px;
    top: -10px;
  }
  &__square3::after{
    position: absolute;
    content: url("/img/content/square3.svg");
    transform: rotate(-12.79deg);
    margin-left: 16px;
    top: -6px;
  }

}
@media(min-width: 768px) {
  .bpm-content{
    &__list{
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 0;
      display: flex;
    }
    &__item{
      width: 33%;
      margin-right: 20px;
    }

  }
}
.downloads-demo__label select:invalid{
  color: transparent;
}
.bpm-form{
  &__wrap{
    position: relative;
    border: 1px #048ad3 solid;
    padding: 0 30px 50px 30px;
    margin-top: 80px;
    h2{
      margin-top: -26px;
    }
  }
  &__wrap-form{
    width: 80%;
    box-sizing: border-box;
  }
  &__title{
    background-color: #fff;
    color: #048ad3;
    padding: 10px;
  }
  &__input{
    top: 15px;
    left: 9px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 4px 15px;
    border: 1px solid #048ad3;
  }
}
.light-blue-link{
  text-decoration: none;
  color: #3187d1;
}
.registration{
  font-size: 18px;

  line-height: 1.5;
  &__wrap{
    width: 100%;
    max-width: 1154px;
    margin: 0 auto;
    padding-top: 50px;
  }
  &__wrap-form{
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;

  }
  &__form{
    display: grid;
    width: 53%;
    p{
      font-size: 16px;
    }
  }
  &__label{
    display: none;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 5px;
    font-size: 12px;
    color: #3187d1;
  }
  &__input, __input--select{
    width: 806px;
    height: 57px;
    border: 2px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 10px;
    vertical-align: center;
    font-size: 18px;
    :hover .registration__label{
      display: block;
    }
  }
  &__group-submit{
    font-size: 14px;
    label{
      color: #000000;
    }
  }
}
