@font-face {
  font-family: 'Graphik LC';
  src: url('/fonts/Graphik-Bold-Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik LC';
  src: url('/fonts/Graphik-Regular-Web.woff2') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik LC';
  src: url('/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik LC';
  src: url('/fonts/Graphik-Regular-Desktop.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
  @font-face {
    font-family: 'Graphik LC';
    src: url('/fonts/Graphik-Regular-Desktop.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }
    @font-face {
      font-family: 'Graphik LC';
      src: url('/fonts/Graphik-Regular-Desktop.woff') format('woff');
      font-weight: 100;
      font-style: normal;
    }
body{
  margin: 0;
  font-family: "Graphik LC", Arial sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.container{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.visually-hidden{
  display: none;
}
.container-box{
  width: 1290px;
  margin-left: -20px;
}
.error-font{
  color: #f44336;
}
.title__block{
  font-family: 'Montserrat',Arial, sans-serif;
  font-size: 45px;
}
.solution-font{
  color: #048ad3;
}

.content-boxs{
  width: 100%;
  max-width: 1093px;
  margin: 0 auto;
}
.btn-bpm{
  border: 1px #ffffff solid;
  border-radius: 4px;
  padding: 15px 24px;
  text-decoration: none;
  color: #fff;
}
.button-form {
  cursor: pointer;
  border: none;
  width: 227px;
  background-color: #1476CA;
  border-radius: 4px;
  padding: 15px 24px;
  margin-top: 40px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff;

}
.button-elm-blue{
  position: relative;
  padding-left: 30px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;

}
.bpm-content-pick{
  padding: 8px 10px;
  color: #000000;
  background-color: #FFBD2B;
  width: 160px;
  display: block;
  transform: rotate(2.21deg);
  &__span{
    position: relative;
    transform: rotate(-2.21deg);
  };

}
.pick-font{
  padding: 0 10px;
  color: #000000;
  background-color: #FFBD2B;
}
.free-font-top{
  display: inline-block;
  width: 263px;
  transform: rotate(1.65deg);
}
.free-font-bottom{
  display: inline-block;
  width: 263px;
  transform: rotate(-0.57deg);
}
.banner-bpm {
  margin-top: -55px;
  transform: skewY(-3.66deg);
  padding-top: 51px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #552790;
  color: #ffffff;

  //transform: skewY(-2.64deg);
  //margin-top: -40px;
  &__wrap {
    transform: skewY(3.66deg);
    //transform: skewY(2.64deg);
      padding: 45px 0 100px 210px;
    a{
      position: relative;
      padding-left: 40px;
    }
    a::before{
      position: absolute;
      content: url("/img/banner/arrow.svg");
      left: 14px;
    }
  }
  &__title {
    font-family: Montserrat, Arial, sans-serif;
    padding-top: 40px;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    width: 650px;
  }
  &__title-part{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 54px;
    font-weight: 800;
    width: 450px;
    transform: rotate(-2.66deg);
    display: block;
  }
  &__subtitle {
    padding: 20px 0 30px 0;
    width: 620px;
  }
  &__img{
    transform: skewY(3.66deg);
    position: absolute;
    right: 0;
    img{
      margin-top: 29px;
    }
  }

}
.exlips{
  transform: translateY(-317px);
}
.cosmonaut{

}
.problem-bpm {
  padding-top: 80px;
  &__title {
    padding-top: 50px;
  }
  &__suptitle{
    width: 795px;
  }
  &__subtitle{
    display: flex;
  }
  &__subtitle-error{

    font-family: Montserrat, Arial,sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #F44336;
  }
  &__subtitle-solution{

    font-family: Montserrat, Arial,sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1476CA;
  }
}

.error-circle{
  position: relative;
  background-color: #f44336;
}
.solution-circle{
  position: relative;
  background-color: #048ad3;
}
/*
.error-circle::after, .error-circle::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  top: 17px;
  left: 9px;
}*/
.error-circle::after{
  left: 15px;
  top: 14px;
  position: absolute;
  content: url("/img/problem/err.png");
}
/*
.solution-circle::after, .solution-circle::before{
  content: '';
  position: absolute;
  background-color: #ffffff;
  top: 20px;
}*/
.solution-circle::after{
  left: 13px;
  top: 16px;
  position: absolute;
  content: url("/img/problem/sol.png");
}

.problem-bpm{
  &__circle{
    position: absolute;
    border: 2px #000 solid;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    top: 20px;
    left: 383px;
    align-items: center;
  }
  &__list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
  }
  &__item{
    margin-bottom: 30px;
  }
  &__item-title{
    width: 390px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #0C0A0D;
  }
  &__item-left{
    position: relative;
    background-color: #feeceb;
    padding: 10px 10px 10px 30px;
    transform: matrix(1, 0.05, -0.06, 1, 0, 0);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
  }
  &__item-right{
    position: relative;
    background-color: #e9f1f8;
    padding: 10px 10px 10px 30px;
    transform: matrix(1, 0.05, -0.06, 1, 0, 0);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

  }
  &__item-wrap{
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
    transform: rotate(-2.64deg);
  }
  &__subtitle-solution{
    margin-left: 20px;
  }
  &__subtitle{
    padding: 30px 0 20px 0;
    display: flex;
    p{
      width: 50%;
      padding-left: 50px;
    }
  }
}
@media (min-width: 768px) {
  .problem-bpm{
    &__wrap{
      width: 1093px;

    }
    &__item{
      display: flex;
      justify-content: space-between;
    }
    &__item-left{
      width: 50%;
      margin-right: 50px;
    }
    &__item-right{
      width: 50%;
    }
  }
}
.bpm-up{
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 46px 30px 30px 115px;
  background-color: #552790;
  color: #ffffff;
  &__wrap{
    display: flex;
  }
  &__text{
    position: relative;
    width: 60%;
    a{
      padding-left: 50px;
    }
    a::before{
      position: absolute;
      content: url("/img/up/play.svg");
      left: 14px;
    }
  }
  &__wrap-top{
    position: relative;
    transform: rotate(-2.07deg);
  }
  &__wrap-bottom{
    transform: rotate(2.07deg);
  }
  &__img{
    width: 40%;}
  &__top-img{
    margin-top: -70px;
  }

  &__bottom_block{
    margin-top: -28px;
    padding-top: 70px;
    padding-bottom: 50px;
    transform: rotate(-2.64deg);
  }
  &__top_block{
    height: 385px;
    margin-bottom: -30px;
    transform: rotate(2.07deg);
  }
}
.change-easier__preview-wrap iframe {
  width: 479px;
  height: 302px;
}
.bpm-content{
  width: 100%;
  max-width: 1397px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 100px 0 70px 0;
  &__wrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  &__wrap-text{
    width: 44%;
margin-right: 30px;
  }
  &__wrap-img{

  }
  &__list{
    font-size: 18px;

  }
  &__item{
    position: relative;
    list-style-type: none;
  }
  &__item_title{
    width: 400px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
  }
  &__square1, &__square2, &__square3, &__square4, &__square5{
    position: relative;
  }
  &__square1::before{
    right: -80px;
    position: absolute;
    content: url("/img/content/1.svg");
  }
  &__square2::before{
    right: -80px;
    position: absolute;
    content: url("/img/content/2.svg");
  }
  &__square3::before{
    right: -80px;
    position: absolute;
    content: url("/img/content/3.svg");
  }
  &__square4::before{
    right: -80px;
    position: absolute;
    content: url("/img/content/4.svg");
  }
  &__square5::before{
    right: -80px;
    position: absolute;
    content: url("/img/content/5.svg");
  }

}
@media(min-width: 768px) {
  .bpm-content{
    &__list{
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
    }
    &__item{
      width: 43%;
      margin-right: 50px;
    }
  }
}
.change-easier--preview .change-easier__wrap {
  position: relative;
  padding-left: 81px;
  left: 0;
  padding-right: 81px;
  top: -66px;
  z-index: 1000;
}

.change-easier--result .change-easier__wrap {
  top: 0;
}

.change-easier--animate .change-easier__article {
  position: relative;
  width: 1178px;
  margin: auto;
  padding-top: 82px;
  padding-bottom: 174px;
}

.change-easier--animate .change-easier__description {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 40px;
}

.change-easier__wrap {
  position: relative;
  padding-left: 62px;
  left: 0;
  padding-right: 60px;
  padding-top: 82px;
  padding-bottom: 73px;
  background-image: url("/images/elmaday2020/bg-round.svg"), url("/images/elmaday2020/chaange-easer-bg-desc.svg");
  background-size: auto;
  background-position-x: left;
  background-position-y: bottom, top;
}

.change-easier__animation {
  position: relative;
  display: block;
  content: '';
  width: 50%;
  right: 0;
}

.change-easier__wrap img {
  width: auto;
  height: auto;
}

.change-easier__animation .change-easier__layer-main {
  position: absolute;
  bottom: -100px;
  right: -9px;
  z-index: 1;
}

.change-easier__animation .change-easier__layer-one {
  position: absolute;
  bottom: -44px;
  right: 72px;
  z-index: 2;
}

.change-easier__animation .change-easier__layer-two {
  position: absolute;
  bottom: -61px;
  right: -30px;
  z-index: 3;
}

.change-easier__animation .change-easier__layer-three {
  position: absolute;
  bottom: -18px;
  right: 47px;
  z-index: 4;
}

.change-easier__animation .change-easier__layer-fourth {
  position: absolute;
  bottom: 2px;
  right: -27px;
  z-index: 5;
}

.change-easier__animation .change-easier__layer-five {
  position: absolute;
  bottom: 35px;
  right: 24px;
  z-index: 6;
}

.change-easier__animation .change-easier__layer-six {
  position: absolute;
  bottom: 48px;
  right: -15px;
  z-index: 7;
}

.change-easier__animation .change-easier__layer-seven {
  position: absolute;
  bottom: 99px;
  right: 50px;
  z-index: 8;
}

.downloads-demo__label select:invalid{
  color: transparent;
}
.bpm-form{
  &__wrap{
    position: relative;
    border: 1px #048ad3 solid;
    padding: 0 30px 50px 30px;
    margin-top: 80px;
    h2{
      margin-top: -26px;
    }
  }
  &__wrap-form{
    width: 80%;
    box-sizing: border-box;
  }
  &__title{
    background-color: #fff;
    color: #048ad3;
    padding: 10px;
  }
  &__input{
    top: 15px;
    left: 9px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 4px 15px;
    border: 1px solid #048ad3;
  }
}
.light-blue-link{
  text-decoration: none;
  color: #3187d1;
}
.registration{
  font-size: 18px;

  line-height: 1.5;
  &__wrap{
    width: 100%;
    max-width: 1154px;
    margin: 0 auto;
    padding-top: 50px;
  }
  &__wrap-form{
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;

  }
  &__form{
    display: grid;
    width: 53%;
    p{
      font-size: 16px;
    }
  }
  &__label{
    display: none;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 5px;
    font-size: 12px;
    color: #3187d1;
  }
  &__input, __input--select{
    width: 806px;
    height: 57px;
    border: 2px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 10px;
    vertical-align: center;
    font-size: 18px;
    :hover .registration__label{
      display: block;
    }
  }
  &__group-submit{
    font-size: 16px;
    label{
      color: #000000;
    }
  }
}
.main-form__label {
  position: relative;
  display: block;
  padding-right: 30px;
  margin-bottom: 20px;
}

.main-form__label textarea {
  resize: none;
}

.main-form__input {
  border-radius: 4px;
  background-color: transparent;
  color: #000;
  border: 2px solid #e4e4e4;
  padding: 10px;
  width: 806px;
  height: 54px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  font-size: 18px;
  line-height: 24px;
}

.main-form__input:hover,
.main-form__input:focus,
.main-form__input:active {
  border: 1px solid #e4e4e4;
}

.main-form__input:focus + .main-form__description {
  top: 0;
  left: 15px;
  padding: 0 2px;
  background-color: #fff;
  font-size: 14px;
  line-height: 17px;
  color: #3187d1;
}

.main-form__input.active  {
  border: 1px solid #3187d1;
}

.main-form__input.active + .main-form__description {
  top: 0;
  left: 15px;
  padding: 0 2px;
  background-color: #fff;
  font-size: 14px;
  line-height: 17px;
  color: #3187d1;
}


.main-form__description {
  position: absolute;
  left: 15px;
  top: 23px;
  margin-top: -9px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #969696;
}

.main-form__description--active {
  top: -6px;
  left: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #3187d1;
}

.main-form__label--checkbox {
  padding-right: 0;
  margin-right: 15px;
}

.main-form__wrap-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 25px;
}

.main-form__input--checkbox + .main-form__label-icon {
  display: block;
  padding: 12px 29px;
  -webkit-box-shadow: inset 0 0 0 5px #707070;
  box-shadow: inset 0 0 0 5px #707070;
  cursor: pointer;
}

.main-form__input--checkbox + .main-form__label-icon:hover,
.main-form__input--checkbox + .main-form__label-icon:focus {
  -webkit-box-shadow: inset 0 0 0 5px white;
  box-shadow: inset 0 0 0 5px white;
}

.main-form__input--checkbox:checked + .main-form__label-icon {
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 5px white;
  box-shadow: inset 0 0 0 5px white;
  color: black;
}

.main-form__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-form__button {
  display: inline-block;
  background-color: #2d2ff0;
  font-family: 'Chava', Arial, sans-serif;
  font-size: 25px;
  line-height: 36px;
  color: white;
  padding: 25px 58px;
  margin-right: 17px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.main-form__button:hover,
.main-form__button:focus {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.main-form__button-description {
  max-width: 467px;
}

