@font-face {
  font-family: 'Proxima';
  src: url('/fonts/proxima.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('/fonts/proxima.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('/fonts/proxima.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('/fonts/proxima.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
body{
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.container{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.visually-hidden{
  display: none;
}
.light-blue-font{
  color: #8efcff;
}
.blue-font{
  color: #13a5fe;
}

.purple-font{
  color: #552790;
}

.icon-telegram{
  padding: 10px 10px 10px 35px;
  border: #13a5fe 1px solid;
}

.icon-telegram::before{
  position: absolute;
  content: url("/img/banner/telegram.svg");
}

.h3-font{
  font-weight: 200;
  text-transform: uppercase;
}
.txt-hidden{
  display: none;
}
.header{
  position: relative;
  padding-bottom: 100px;
  background: #000000;
  background-size: cover;
  color: #ffffff;
  font-family: 'Proxima', Arial, sans-serif;

  &__wrap{
    width: 100%;
    max-width: 1154px;
    margin: 0 auto;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
  }
  &__logo_size_m{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-family: 'Montserrat',Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__logo_size_s{
    margin-top: 0;
    font-size: 14px;
  }
  &__nav-list{
    margin-top: 0;
    padding-left: 0;
    float: right;
  }
  &__nav-item {
    padding-right: 40px;
  }
  &__nav-item a{
    text-decoration: none;
  }
}
.header li{
  list-style-type: none;
}
@media (min-width: 768px) {
  .header li{
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .header{
    &__nav{
      display: none;
    }
  }
}
.title{
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

@media (max-width: 767px) {
  .title{
    font-size: 24px;
  }
}
.banner{
  width: 100%;
  max-width: 1154px;
  margin: 50px auto;

  &__list {
    padding-bottom: 20px;
    padding-left: 0;
  }
  &__list li{
    position: relative;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 300;
  }
  &__item-left::before{
    content: url("img/banner/date.svg");
    position: absolute;
  }
  &__item-right::before{
    content: url("/elm/app/img/banner/loc.svg");
    position: absolute;
  }
  &__h1{
    font-weight: 200;
    font-size: 42px;
    width: 800px;
  }
  &__p{
    font-weight: 100;
    font-size: 30px;
  }
}
.button-elm{
  margin-top: 50px;
}
.button-elm_light-blue{
  padding: 18px 21px;
  margin-top: 20px;
  background-color: #8EFCFF;
  color: #000000;
  font-family: 'Proxima', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}
.section-events {
  width: 100%;
  max-width: 1154px;
  margin: 60px auto;
  font-size: 18px;
  font-style: normal;
  font-family: 'Proxima', Arial, sans-serif;
  line-height: 1.5;
  &__title{
    display: flex;
    justify-content: space-between;
  }
  &__title-txt{
    position: relative;
    font-size: 30px;
  }
  &__title-txt p{
    margin-top: 40px;
  }
  &__title-img img{
    display: block;
    width: 629px;
    margin-right: -20px;
    margin-top: -15px;
  }
  &__subtitle{
    margin-top: 30px;
    font-size: 30px;
  }
  &__subtitle-list{
    line-height: 1.7;
    padding-left: 0;
    list-style-type: none;
  }
  &__subtitle-list li::before{
    content: '';
    position: absolute;
    width:7px;
    height: 7px;
    background: #ffffff;
    border-radius: 50%;
    margin-left: -17px;
    margin-top: 20px;
  }
  &__square{
    position: absolute;
    width:13px;
    height: 13px;
    background: #552790;
    margin-left: -20px;
    margin-top: 17px;
  }
  &__subtitle-list{
    display: inline-block;
    padding-left: 20px;
    padding-right: 80px;
  }
  &__case-label ul{
    padding-left: 0;
  }
  &__case-label li{
    display: inline-block;
  }
}

@media(max-width: 767px) {
  .section-events{
    margin-left: 24px;
    font-size: 14px;
    &__title-txt{
      width: 100%;
    }
    &__title-img img{
      display: none;
    }
    &__case-label{
      display: none;
    }
  }

}
.section-users {
  padding-top: 45px;
  padding-bottom: 150px;
  background: #f9f9f9;
  font-family: 'Proxima', 'Arial', sans-serif;
  font-size: 16px;
  &__wrap{
    width: 100%;
    max-width: 1154px;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Proxima', 'Arial', sans-serif;
    line-height: 1.1;
  }
  &__list{
    padding-top: 50px;
    padding-left: 0;
  }
  &__item{
    vertical-align: top;
    list-style-type: none;
    width: 17%;
    padding-right: 25px;
  }
  &__item-txt{
    font-weight: bold;
  }
}

@media (max-width: 767px){
  .section-users{
    &__wrap{
      padding-left: 24px;
    }
    &__item{
      display: flex;
      padding-bottom: 20px;
      width: 40%;
    }
    &__item-txt{
      margin: 0 10px;
    }
  }
}

@media (min-width: 768px) {
  .section-users__item {
    display: inline-block;
    cursor: pointer;
    &:hover {
      width: 185px;
      height: 170px;
      padding: 20px 22px 20px 23px;
      transform: translateY(-50px);
      vertical-align: top;
      background: #8efcff;
      box-shadow: 0 20px 24px 0 rgba(0, 0, 0, .16);
    }
    &:hover .section-users__item-img {
      display: none;
    }
    &:hover .txt-hidden {
      display: block;
      vertical-align: bottom;
      font-size: 16px;
    }
  }
}

.section-up{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-bottom: 100px;
  background-image: url("/elm/app/img/up/Group 66.svg"), url("/elm/app/img/up/Group 67.svg");
  background-size: auto;
  background-position-x: left;
  background-position-y: bottom;
  &__text{
    padding: 40px 20px 0 95px;
    font-family: Proxima, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }
  &__text-p{
    width: 45%;
  }
}

.section-up_theme_blue{
  margin-top: -140px;
  background: #092b49;
  color: #ffffff;
}

@media (max-width: 767px){
  .section-up_theme_blue{
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .section-up__text{
    width: 100%;
    padding-left: 24px;
    margin: 0 10px;
  }
}

.section-program{
  padding-top: -140px;
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  font-family: Proxima, Arial, sans-serif;
  line-height: 1.5;
  &__head{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
  }
  &__list{
    padding-left: 0;
  }
  &__item{
    display: flex;
    padding-left: 0;
    list-style-type: none;
  }
  &__item-right{
    padding-left: 100px;
  }
}

@media (min-width: 768px) {
  .program-size{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
  }
}

@media (max-width: 767px) {
  .section-program{
    font-size: 18px;
    &__list{
      font-size: 20px;
    }
    &__item-left{
      display: flex;
    }
    &__head, &__item-left, &__item-right{
      padding-left: 24px;
    }
  }
}

@media(min-width: 768px) {
  .section-program{
    &__item-left{
      width: 235px;
    }
    &__item-left_grey {
      margin-top: 25px;
    }
  }
}

.item_title_txt{
  font-size: 20px;
  font-weight: bold;
}
.grey-item{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #201d21;
}
.black-item{
  display: flex;
}

.section-speackers{
  &__face {
    padding-top: 30px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__head-nav {
    display: flex;
  }
  &__head-nav-item a {
    text-decoration: none;
    padding-left: 40px;
    color: #ffffff;
  }
  &__face-list {
    display: flex;
    justify-content: space-between;
    /*background: #201d21;*/
  }
  &__face-item {
    padding-right: 20px;
    cursor: pointer;

  }
  &__face-img {
    position: relative;
    background-size: cover;
  }
  &__face-txt {
    position: absolute;
    width: 100%;
    padding: 15px 0;
    background: #201d21;
    bottom: 5px;
  }
  &__face-txt_title {
    padding-left: 15px;
    font-size: 18px;
  }
  &__face-txt_subtitle {
    padding-left: 15px;
    font-size: 16px;
    margin: 0;
  }
}
.section-speackers ul {
  list-style-type: none;
}
@media (min-width: 768px) {
  .section-speackers__face-img:hover{
    transform: translateY(-20px);
  }
}
@media (min-width: 768px) {
  .section-organizer {
    &__wrap {
      display: flex;
      justify-content: space-between;
    }
    &__img {
      height: 100px;
      order: 1;
    }
    &.section-organizer__text {
      width: 555px;
      order: 0;
    }
  }
}

.section-partners {
  &__list {
    display: flex;
    padding-top: 10px;
    padding-left: 0;
    justify-content: space-between;
  }
  &__item {
    width: 20%;
    text-align: center;
    list-style-type: none;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .section-partners{
    display: none;
  }
}

.registration{
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  font-family: Proxima, Arial, sans-serif;
  line-height: 1.5;
  &__wrap{
    width: 100%;
    max-width: 1154px;
    margin: 0 auto;
    padding-top: 26px;
  }
  &__wrap-form{
    position: relative;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__form{
    display: grid;
    width: 53%;
    p{
      font-size: 16px;
    }
  }
  &__input{
    width: 650px;
    height: 35px;
    border: 1px #4b4b4b solid;
    background: #000000;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 10px;
    vertical-align: center;

  }
  &__input--select{
    width: 662px;
    height: 35px;
  }
  &__group-submit{
    font-size: 14px;
  }
}

.location{
  background: #092b49;
  color: #ffffff;
  line-height: 1;
  padding-bottom: 50px;
  &__wrap{
    justify-content: space-between;
    font-family: 'Proxima', Arial, sans-serif;
    font-size: 14px;
  }
  &__address{
    padding-left: 223px;
    padding-top: 70px;
    font-size: 20px;
    //width: 53%;
  }
  &__address_img{
    width: 95%;
  }
  &__map{
    position: relative;
    width: 47%;
  }
  &__map iframe{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__contacts{
    h3{
      font-size: 26px;
    }
  }
  &__contacts-list{
    padding-left: 0;
  }
  &__contacts-item{
    list-style-type: none;
    a{
      text-decoration: none;
    }
    img{
      margin-top: 23px;
      margin-right: 15px;
    }
  }
  &__contacts-item-txt{
    &_subtitle{
      font-size: 16px;
      line-height: 0.5;
    }
  }
}
@media (max-width: 767px) {
  .location{
     &__address{
       padding-left: 24px;
     }
    &__map{
      display: block;
    }
    &__address_img{
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .location{
    &__wrap {
      display: flex;
    }
    &__contacts-list{
      display: flex;
    }
    &__contacts-item{
      display: flex;

    }
  }
}